PROJECT_NAME=RetailLake

POSTGRES_DB=retail

POSTGRES_USER=postgres

POSTGRES_PASSWORD=postgres

POSTGRES_PORT=5432

POSTGRES_CONTAINER=retail-postgres

POSTGRES_VOLUME=postgres_data

APP_NAME=RetailLake Platform

ENVIRONMENT=dev

DUCKDB_PATH=/app/duckdb/database/retaillake.duckdb

RAW_CUSTOMER_PATH=/app/data/raw/customers.csv

PROCESSED_CUSTOMER_PATH=/app/data/processed/customers